<div class="alert alert-block alert-success">

# Python

- String
- List

In [24]:
print ('''\
This notebook is
for string revision\
''')

This notebook is
for string revision

In [25]:
languages = ["Python", "Java"]
languages = ["Java"] + languages #appending list
print(languages)

['Java', 'Python', 'Java']

The .join() method is used to concatenate (join) a sequence of strings, lists, or other iterable objects into a single string.

In [26]:
#List elements can be joined to create a long string or sentence
' '.join(['some','data','in','a','list'])

'some data in a list'

In [27]:
my_list = ["apple", "banana", "cherry"]
result = '-'.join(my_list)
print(result)

apple-banana-cherry

The .split() method is used to split a string into a list of substrings based on a specified delimiter.

In [28]:
#We can split the different pieces of a string into a list using the .split()
s = 'Hi, my name is Sar.'
s.split()

['Hi,', 'my', 'name', 'is', 'Sar.']

In [29]:
s.split(',')

['Hi', ' my name is Sar.']

In [30]:
s = "   This   is  a  string   with   extra   spaces   "
result = ','.join(s.split())
print(result)

This,is,a,string,with,extra,spaces

In [31]:
days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for d in days:
    print(d)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [32]:
for i in range(1,7):
    for j in range(1,7):
        print(i,j)

1 1
1 2
1 3
1 4
1 5
1 6
2 1
2 2
2 3
2 4
2 5
2 6
3 1
3 2
3 3
3 4
3 5
3 6
4 1
4 2
4 3
4 4
4 5
4 6
5 1
5 2
5 3
5 4
5 5
5 6
6 1
6 2
6 3
6 4
6 5
6 6

The map() function in Python is a built-in function that is used to apply a given function to every item of an iterable (such as a list, tuple, or string) and returns an iterable map object.

In [33]:
def square(x):
    return x * x

numbers = [1, 2, 3, 4, 5]
squared_numbers = map(square, numbers)

# To get the result as a list, convert the map object to a list
squared_numbers_list = list(squared_numbers)

print(squared_numbers_list)

[1, 4, 9, 16, 25]

In [34]:
list1 = [1, 2, 3, 4, 5]

sq = list(map(lambda x: x**2, list1))

print(sq)

[1, 4, 9, 16, 25]

In [35]:
list1 = [1, 2, 3, 4, 5]

sq = list(map(lambda x: pow(x,2), list1))

print(sq)

[1, 4, 9, 16, 25]

### Take user input a python list of integer element and print the list. Use List Comprehension

List comprehension is a concise way to create lists in Python. It provides a more readable and compact syntax for creating lists compared to using traditional loops.

In [36]:
list1 = [int(x) for x in input().split()]
print(list1)

[]

### Take user input a python list of integer element with comma delimiter and print the list

In [47]:
list1 = [int(x) for x in input().split(',')]
print(list1)

[1, 2, 3]

### Nested List

In [68]:
N = int(input()) #number of input element
lst = [] #blank list to store element

for _ in range(N):
    element = input().split()
    lst.append(element)

print(lst)

[['uranium', '239'], ['Hydrogen', '1'], ['Hydrogen', '2']]

In [69]:
lst[0]

['uranium', '239']

In [70]:
lst[1]

['Hydrogen', '1']

### Nested List 2 - Studend and its score

In [73]:
if __name__ == '__main__':
    student = []
    for _ in range(int(input())):
        name = input()
        score = float(input())
        student.append([name, score])
        
    print(student)
    print(student[1][1])

[['harry', 90.0], ['berry', 89.0]]
89.0

In [75]:
for item in student:
    print (item)

['harry', 90.0]
['berry', 89.0]

In [76]:
for item in student:
    print (item[0])

harry
berry

In [77]:
for item in student:
    print (item[1])

90.0
89.0

### Find name of highest and lowerst scorer in a student record

records = [[" chi" , 20.0], ["beta", 50.0], ["alpha", 60.0]]


The ordered list of scores is [20.0, 50.0, 60.0], so the lowest score is 20.0. There is one students with that score: ["chi"]. There is ["alpha"] with highest score.
So output is:
alpha
chi

In [90]:
def high_low(records):
    score_list = []
    for n in records:
        score_list.append(n[1]) #n[1] just store the score

    score_list = set(score_list)
    highest_score = max(score_list)
    lowest_score = min(score_list)

    
    print(highest_score)
    print(lowest_score)

    highest_name = []
    lowest_name = []

    for n in records:
        if n[1] == highest_score:
            highest_name.append(n[0]) #n[0] will store just name
        
        if n[1] == lowest_score:
            lowest_name.append(n[0]) #n[0] will store just name

    print(highest_name)
    print(lowest_name)


if __name__ == '__main__':
    records = []
    for _ in range(int(input())):
        name = input()
        score = float(input())
        records.append([name, score])

    high_low(records)

60.0
20.0
['alpha']
['chi']

### Print the positions of even numbers in a Python list

In [ ]:


list1 = [int(x) for x in input().split()]

def checkEven(list1):
    even_positions = []
    for i in range(len(list1)):
        if list1[i] % 2 == 0:
            even_positions.append(i)
    return even_positions

result = checkEven(list1)
print(result)

3 4 5 6 8
[1, 3, 4]

### Add iteratively two consecutive elements (not distinct elements) of a python list and print the list

In [ ]:

list1 = [int(x) for x in input().split()]

def addTwoItem(list1):
    sumList = []
    for i in range(len(list1)-1):
        
        sumList.append(list1[i]+list1[i+1])
    return sumList

result = addTwoItem(list1)
print(result)

3 4 5 6 7 8
[7, 9, 11, 13, 15]

### end = ' ' ensures that the numbers are printed consecutively on the same line without any spaces.

In [ ]:
if __name__ == '__main__':
    n = 3
    
    for i in range (1,n+1):
        print(i)
    for i in range (1,n+1):
        print(i, end = '')

1
2
3
123

### Find 2nd largest number in a list

In [79]:
lst = [5, 2, 9, 1, 5]

sort_lst = sorted(set(lst))

print(sort_lst)

[1, 2, 5, 9]

In [83]:
#largest number
sort_lst[-1]

9

In [84]:
#second largest number
sort_lst[-2]

5

## 1. Leetcode: Two Sum

Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

You can return the answer in any order.

 

Example 1:

Input: nums = [2,7,11,15], target = 9
Output: [0,1]
Explanation: Because nums[0] + nums[1] == 9, we return [0, 1].

### NOTE we will check addition of two distinct list elements, not two consecutive

In [ ]:
list1 = [int(x) for x in input().split(',')]
Target = int(input())

def TwoSum(list1, Target):
    ListPos = []
    
    for i in range(len(list1)):
        for j in range(i+1, len(list1)):
            if list1[i] + list1[j] == Target:
                ListPos.append(i)
                ListPos.append(j)
                return ListPos

result = TwoSum(list1, Target)
print(result)

2, 7, 11, 15
9
[0, 1]

### Take user input a python list of string character element and print the list. Use List Comprehension

In [ ]:
char_list = [c for c in input().split()]
print(char_list)

goku vegeta trunks
['goku', 'vegeta', 'trunks']

In [ ]:
n = int(input())
lst = [int(x) for x in input().split()][:n]
print(lst)

[4, 5, 6, 7, 8]

### Check the second character is a substring of first character. If yes then output the second character.

In [ ]:
char_list = [c for c in input().split()]
if char_list[1] in char_list[0]:
    print(char_list[1])
else:
    print("The second character is not a substring of the first character.")

goku ku
ku

## 2. Leetcode: String Matching in an Array

Given an array of string words, return all strings in words that is a substring of another word. You can return the answer in any order.

A substring is a contiguous sequence of characters within a string

 

Example 1:

Input: words = ["mass","as","hero","superhero"]

Output: ["as","hero"]

Explanation: "as" is substring of "mass" and "hero" is substring of "superhero".
["hero","as"] is also a valid answer.

### We have to iterate through each word in the array and check if it is a substring of any other word in the array.

In [ ]:
char_list = [c for c in input().split()]
result = []

def chksubstr(char_list):
    
    for i in range (len(char_list)):
        for j in range (len(char_list)):
            if i != j and char_list[i] in char_list[j]:
                result.append(char_list[i])
                
    return result

result = chksubstr(char_list)
print(set(result))

leetcode et code
{'et', 'code'}

## List[] vs Tuple()

In [ ]:
#Lists are mutable

list1 = [2, 3, 4, 5]

print(list1)

list1[1] = 9

print(list1)

[2, 3, 4, 5]
[2, 9, 4, 5]

In [ ]:
#Lists are appendable/ mutable

list1 = ['alfa', 'beta', 'charlie', 'delta']

print(list1)

list1.append('echo')

print(list1)

['alfa', 'beta', 'charlie', 'delta']
['alfa', 'beta', 'charlie', 'delta', 'echo']

In [ ]:
# Tuples are immutable

tuple1 = ('summer', 'spring', 'winter', 'fall')

print(tuple1)

tuple1[1] = 'monsoon'

print(tuple1)

('summer', 'spring', 'winter', 'fall')

TypeError: 'tuple' object does not support item assignment

In [ ]:
# we can join tuple but cannot modify
 
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

## Exception Handling

In [ ]:
# Check age is 18 + or not


try:
    age = int(input("Enter your age: "))
    if age < 0:
        print('Number is negative')
    elif age >= 18:
        print('Age is 18 or older')
    else:
        print('Age is less than 18')
except ValueError:
    print('Not a valid Number')

Not a valid Number

### Factorial - Recursion

In [23]:
def fac(x):
    
    if x == 0:
        return 1
    
    return x * fac(x-1)

print(fac(3))

6

### Fibonacci Number - Recursion

F(0) = 0, F(1) = 1, F(2) = F(0) + F(1)

In [ ]:
def fib(n):
    if n == 1:
        value = 1
    elif n == 2:
        value = 1
    elif n > 2:
        value = fib(n-2) + fib(n-1)

    return value

for n in range (1,11):
    print(fib(n))

1
1
2
3
5
8
13
21
34
55

### Dictionary

In [14]:
# define dictionary

student = {'name': 'John',
           'age': 25,
           'courses': ['Math', 'CS']
           }

print(student)

{'name': 'John', 'age': 25, 'courses': ['Math', 'CS']}

In [16]:
#printing with key

print(student['name'])

John

In [17]:
# get()

print(student.get('name'))

John

In [18]:
#phone key is not present
print(student.get('phone'))

None

In [19]:
#adding a default value if key is not present
print(student.get('phone', 'Not Found'))

Not Found

In [20]:
# Update and add a new key-value to a dictionary
#update()

student.update({'name': 'John Wick', 'phone': '555-555-5555'})
print(student)

{'name': 'John Wick', 'age': 25, 'courses': ['Math', 'CS'], 'phone': '555-555-5555'}

In [38]:
#keys
print(student.keys())

dict_keys(['name', 'age', 'courses', 'phone'])

In [39]:
#values
print(student.values())

dict_values(['John Wick', 25, ['Math', 'CS'], '555-555-5555'])

In [40]:
#keys and values
print(student.items())

dict_items([('name', 'John Wick'), ('age', 25), ('courses', ['Math', 'CS']), ('phone', '555-555-5555')])

In [41]:
for key in student:
    print(key)

name
age
courses
phone

In [43]:
for key, value in student.items():
    print(key, value)

name John Wick
age 25
courses ['Math', 'CS']
phone 555-555-5555

### Hackerrank Basic Data Type - Lists

Consider a list (list = []). You can perform the following commands:

1. insert i e: Insert integer  at position .
2. print: Print the list.
3. remove e: Delete the first occurrence of integer .
4. append e: Insert integer  at the end of the list.
5. sort: Sort the list.
6. pop: Pop the last element from the list.
7. reverse: Reverse the list.
Initialize your list and read in the value of  followed by  lines of commands where each command will be of the  types listed above. Iterate through each command in order and perform the corresponding operation on your list.

Example usage:

N = 4

append 1

append 2

insert 3 1

print

In [53]:
if __name__ == '__main__':
    N = int(input()) #number of input
    lst = [] #initialize a list
    
    for _ in range(N):
        command = input().split()
        
        #defining operations
        if command[0] == 'insert':
            lst.insert(int(command[1]), int(command[2]))
        if command[0] == 'print':
            print(lst)
        if command[0] == 'remove':
            lst.remove(int(command[1]))
        if command[0] == 'append':
            lst.append(int(command[1]))
        if command[0] == 'sort':
            lst.sort()
        if command[0] == 'pop':
            lst.pop()
        if command[0] == 'reverse':
            lst.reverse()

[1, 2, 99]

### Boolean

In [54]:
a = 3
b = 5
a == b

False

In [55]:
type(True)

bool

In [58]:
#Empty string and 0 is converted to False
bool(0)

False

In [59]:
bool("")

False