<div class="alert alert-block alert-success">

# Python

- String
- List
- List Comprehension
- list(enumerate())
- map()
- lambda()
- filter()
- Tuple
- Dictionary
- hash()

<div class="alert alert-block alert-success">

### Keyboard Shortcuts

- Caps + Tab = Indent multiple lines
- Shift + Tab = Unindent multiple lines
- Command + / = Comment multiple lines

In [24]:
#multiline comment
print ('''\
This notebook is
for string revision\
''')

This notebook is
for string revision

In [123]:
a = 67.12345
print("%.2f" % a)

67.12

### Simple user input of data type string, int and float and print it.

In [193]:
firstName = input()
lastName = input()
score = int(input())
avg_win = float(input())

print(f"Welcome {firstName} {lastName} to Python. Your ELO is {score}. Average win rate is {avg_win:.2f}.")

Welcome sarthak haldar to Python. Your ELO is 270. Average win rate is 37.68.

In [25]:
languages = ["Python", "Java"]
languages = ["Java"] + languages #appending list
print(languages)

['Java', 'Python', 'Java']

The .join() method is used to concatenate (join) a sequence of strings, lists, or other iterable objects into a single string.

In [26]:
#List elements can be joined to create a long string or sentence
' '.join(['some','data','in','a','list'])

'some data in a list'

In [27]:
my_list = ["apple", "banana", "cherry"]
result = '-'.join(my_list)
print(result)

apple-banana-cherry

The .split() method is used to split a string into a list of substrings based on a specified delimiter.

In [28]:
#We can split the different pieces of a string into a list using the .split()
s = 'Hi, my name is Sar.'
s.split()

['Hi,', 'my', 'name', 'is', 'Sar.']

In [29]:
s.split(',')

['Hi', ' my name is Sar.']

In [30]:
s = "   This   is  a  string   with   extra   spaces   "
result = ','.join(s.split())
print(result)

This,is,a,string,with,extra,spaces

### Hackerrank Capitalize

I/P\
sarthak haldar\
O/P\
Sarthak Haldar

In [260]:
name = 'sarthak haldar'
splitted = name.split()
splitted

['sarthak', 'haldar']

In [261]:
splitted[0]

'sarthak'

In [262]:
splitted[0].capitalize()

'Sarthak'

In [263]:
splitted[1].capitalize()

'Haldar'

In [269]:
name = 'sarthak haldar'
splitted = name.split()

for n in range(len(splitted)):
    splitted[n] = splitted[n].capitalize()

print(splitted)

result = ' '.join(splitted)
print(result)

['Sarthak', 'Haldar']
Sarthak Haldar

The above code will fail test case if there is a double space between first and last name. There is a better way to achieve it

In [276]:
name = 'sarthak haldar'


for n in name.split():
    name = name.replace(n, n.capitalize())

print(name)

Sarthak Haldar

In [31]:
days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for d in days:
    print(d)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

### list(enumerate())

The enumerate () method adds a counter to an iterable and returns it in the form of an enumerating object. This enumerated object can then be used directly for loops or converted into a list of tuples using the list() function.

In [235]:
my_list = ['candy', 'bread', 'cake']

print(list(enumerate(my_list)))

print(list(enumerate(my_list, start = 1)))

[(0, 'candy'), (1, 'bread'), (2, 'cake')]
[(1, 'candy'), (2, 'bread'), (3, 'cake')]

Without enumerate() function

In [237]:
my_list = ['candy', 'bread', 'cake']

counter = 0

for items in my_list:
    print (f'{counter} : {items}')
    counter += 1

0 : candy
1 : bread
2 : cake

In [240]:
my_list = ['candy', 'bread', 'cake']

for index, item in enumerate(my_list):
    print(f'{index} : {item}')

0 : candy
1 : bread
2 : cake

### Find area of list of circle given their radii - map()

In [243]:
import math

def area(r):

    return math.pi * (r**2)

radii = [2, 5.2, 6, 8]


# Direct method

areas = []
for r in radii:
    a = area(r)
    areas.append(a)

print(areas)

[12.566370614359172, 84.94866535306801, 113.09733552923255, 201.06192982974676]

Using map()

In [246]:
#using map()

import math

def area(r):

    return math.pi * (r**2)

radii = [2, 5.2, 6, 8]
list(map(area, radii))

[12.566370614359172, 84.94866535306801, 113.09733552923255, 201.06192982974676]

### Convert list of celcius to fahrenheit using lambda

In [248]:
temp_list = [("Berlin", 29), ("Cairo", 36), ("New York", 19)]

c_to_f = lambda data: (data[0], (9/5)*data[1] + 32)

list(map(c_to_f, temp_list))

[('Berlin', 84.2), ('Cairo', 96.8), ('New York', 66.2)]

### filter() function

Removing missing data with filter()

Q) Filter out list values which are greater than average

In [249]:
import statistics

data = [1.3, 2.7, 0,8, 4.1, 4.3, -0.1]

avg = statistics.mean(data)

avg

2.9

In [250]:
list(filter(lambda x: x > avg, data))

[8, 4.1, 4.3]

Filter out null values from list

In [251]:
data = ["Brazil", "", "China", "India"]

list(filter(None, data))

['Brazil', 'China', 'India']

### Lists are mutable

In [194]:
list1 = [1, 2, 3, 4, 'sarthak']
print(list1)
list1[-1] = 5
print(list1)

[1, 2, 3, 4, 'sarthak']
[1, 2, 3, 4, 5]

### Strings are immutable

In [199]:
str1 = 'sarthal haldar'
print(str1)
print(str1[6])


str1[6] = 'k'
print(str1)

sarthal haldar
l

TypeError: 'str' object does not support item assignment

### To correct any alphabet on a string, we first convert the string to a list

In [207]:
str1 = 'sarthal haldar'
my_lst = list(str1)
print(my_lst)

['s', 'a', 'r', 't', 'h', 'a', 'l', ' ', 'h', 'a', 'l', 'd', 'a', 'r']

note that .split() is different

In [208]:
str1 = 'sarthal haldar'
my_lst2 = str1.split()
print(my_lst2)

['sarthal', 'haldar']

next we make correction

In [204]:
my_lst[6] = 'k'
print(my_lst)

['s', 'a', 'r', 't', 'h', 'a', 'k', ' ', 'h', 'a', 'l', 'd', 'a', 'r']

Now we join the list to a string

In [205]:
''.join(my_lst)

'sarthak haldar'

### Reversing a list

In [1]:
list1 = [1, 2, 3, 4]
print(list1[::-1])

[4, 3, 2, 1]

### Hackerrank Mutations


STDIN        
sarthal haldar\
6  k           

Function

s = 'sarthal haldar'\
position = 6, character = 'k'

In [210]:
def mutate_string(string, position, character):
    
    my_list = list(string)
    my_list[position] = character
    joined_list = ''.join(my_list)
    return joined_list

if __name__ == '__main__':
    s = input()
    i, c = input().split()
    s_new = mutate_string(s, int(i), c)
    print(s)
    print(s_new)

sarthal haldar
sarthak haldar

### Print position of list items

In [189]:
days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for i in range(len(days)):
    print(i)

0
1
2
3
4
5
6

### Hackerrank String Split and Join

Input Format\
The one line contains a string consisting of space separated words.

Sample Input\
this is a string

Sample Output\
this-is-a-string

In [188]:
def split_and_join(line):
    # write your code here
    line = line.split()
    result = '-'.join(line)
    return result
if __name__ == '__main__':
    line = input()
    result = split_and_join(line)
    print(result)

this-is-a-string

Printing normal list from user input

In [138]:
numlist = input().split()
print (numlist)

['6', '8', '1', '2', '9']

In [140]:
type(numlist[0])

str

It is actually a list of string

In [142]:
numlist2 = list(map(int, input().split()))
print (numlist2)

[6, 8, 1, 2, 9]

In [143]:
type(numlist2[0])

int

In [144]:
type(numlist2)

list

In [145]:
#to tuple
numlist3 = tuple(map(int, input().split()))
print (numlist3)
type(numlist3)

(6, 8, 1, 2, 9)

tuple

In [32]:
for i in range(1,7):
    for j in range(1,7):
        print(i,j)

1 1
1 2
1 3
1 4
1 5
1 6
2 1
2 2
2 3
2 4
2 5
2 6
3 1
3 2
3 3
3 4
3 5
3 6
4 1
4 2
4 3
4 4
4 5
4 6
5 1
5 2
5 3
5 4
5 5
5 6
6 1
6 2
6 3
6 4
6 5
6 6

The map() function in Python is a built-in function that is used to apply a given function to every item of an iterable (such as a list, tuple, or string) and returns an iterable map object.

In [33]:
def square(x):
    return x * x

numbers = [1, 2, 3, 4, 5]
squared_numbers = map(square, numbers)

# To get the result as a list, convert the map object to a list
squared_numbers_list = list(squared_numbers)

print(squared_numbers_list)

[1, 4, 9, 16, 25]

In [34]:
list1 = [1, 2, 3, 4, 5]

sq = list(map(lambda x: x**2, list1))

print(sq)

[1, 4, 9, 16, 25]

In [35]:
list1 = [1, 2, 3, 4, 5]

sq = list(map(lambda x: pow(x,2), list1))

print(sq)

[1, 4, 9, 16, 25]

### upper() and lower()

In [252]:
my_str = 'sarthak'
my_str.upper()

'SARTHAK'

to check whether a string is upper or lower

In [253]:
my_str = 'sarthak'

my_str.isupper()

False

In [254]:
my_str = 'sarthak'

my_str.islower()

True

In [255]:
#list to a string

''.join(['alfa', 'cef', '59'])

'alfacef59'

### Hackerrank sWAP cASE

In\
HackerRank.com presents "Pythonist 2".

Out\
hACKERrANK.COM PRESENTS "pYTHONIST 2".

In [256]:
s = input() #string input

new_s = []  #blank list


    
for item in s:
    if item.isalpha():
        if item.isupper():
            new_s.append(item.lower())
        else:
            new_s.append(item.upper())
            
    else:
        new_s.append(item)
    
    
    
    
print(''.join(new_s))

sWAP cASE

### Take user input a python list of integer element and print the list. Use List Comprehension

List comprehension is a concise way to create lists in Python. It provides a more readable and compact syntax for creating lists compared to using traditional loops.

In [100]:
n= int(input())
list1 = [int(x) for x in input().split()][:n]
print(list1)

#3
#4 5 6

[4, 5, 6]

### Normal list append

In [103]:
my_list = ['James', 'John', 'Tom']
new_list = []
for n in my_list:
    n = n + ' Wick'
    new_list.append(n)

print(new_list)

['James Wick', 'John Wick', 'Tom Wick']

### Appending with list comprehension

In [104]:
my_list = ['James', 'John', 'Tom']
new_list = [name + ' Wick' for name in my_list]
print(new_list)

['James Wick', 'John Wick', 'Tom Wick']

### Multiply each element of list with 3 with list comprehension

In [105]:
num_list = [4, 5, 6, 7, 8, 9]


new_list = [n * 3 for n in num_list]

print(new_list)

[12, 15, 18, 21, 24, 27]

### Take input a list of int 2, 3, 4 from user and add all the elements

In [221]:
my_list = list(map(int, input().split()))
print(sum(my_list))

9

### Take user input a python list of integer element with comma delimiter and print the list

In [95]:
list1 = [int(x) for x in input().split('*')]
print(list1)

#prints a list separated by *. 4*5*6

[4, 5, 6]

### Nested List

In [68]:
N = int(input()) #number of input element
lst = [] #blank list to store element

for _ in range(N):
    element = input().split()
    lst.append(element)

print(lst)

[['uranium', '239'], ['Hydrogen', '1'], ['Hydrogen', '2']]

In [69]:
lst[0]

['uranium', '239']

In [70]:
lst[1]

['Hydrogen', '1']

### Nested List 2 - Studend and its score

In [73]:
if __name__ == '__main__':
    student = []
    for _ in range(int(input())):
        name = input()
        score = float(input())
        student.append([name, score])
        
    print(student)
    print(student[1][1])

[['harry', 90.0], ['berry', 89.0]]
89.0

In [75]:
for item in student:
    print (item)

['harry', 90.0]
['berry', 89.0]

In [76]:
for item in student:
    print (item[0])

harry
berry

In [77]:
for item in student:
    print (item[1])

90.0
89.0

### Find name of highest and lowerst scorer in a student record

records = [[" chi" , 20.0], ["beta", 50.0], ["alpha", 60.0]]


The ordered list of scores is [20.0, 50.0, 60.0], so the lowest score is 20.0. There is one students with that score: ["chi"]. There is ["alpha"] with highest score.
So output is:
alpha
chi

In [90]:
def high_low(records):
    score_list = []
    for n in records:
        score_list.append(n[1]) #n[1] just store the score

    score_list = set(score_list)
    highest_score = max(score_list)
    lowest_score = min(score_list)

    
    print(highest_score)
    print(lowest_score)

    highest_name = []
    lowest_name = []

    for n in records:
        if n[1] == highest_score:
            highest_name.append(n[0]) #n[0] will store just name
        
        if n[1] == lowest_score:
            lowest_name.append(n[0]) #n[0] will store just name

    print(highest_name)
    print(lowest_name)


if __name__ == '__main__':
    records = []
    for _ in range(int(input())):
        name = input()
        score = float(input())
        records.append([name, score])

    high_low(records)

60.0
20.0
['alpha']
['chi']

### Print the positions of even numbers in a Python list

In [ ]:


list1 = [int(x) for x in input().split()]

def checkEven(list1):
    even_positions = []
    for i in range(len(list1)):
        if list1[i] % 2 == 0:
            even_positions.append(i)
    return even_positions

result = checkEven(list1)
print(result)

3 4 5 6 8
[1, 3, 4]

### Add iteratively two consecutive elements (not distinct elements) of a python list and print the list

In [ ]:

list1 = [int(x) for x in input().split()]

def addTwoItem(list1):
    sumList = []
    for i in range(len(list1)-1):
        
        sumList.append(list1[i]+list1[i+1])
    return sumList

result = addTwoItem(list1)
print(result)

3 4 5 6 7 8
[7, 9, 11, 13, 15]

### end = ' ' ensures that the numbers are printed consecutively on the same line without any spaces.

In [ ]:
if __name__ == '__main__':
    n = 3
    
    for i in range (1,n+1):
        print(i)
    for i in range (1,n+1):
        print(i, end = '')

1
2
3
123

### Find 2nd largest number in a list

In [79]:
lst = [5, 2, 9, 1, 5]

sort_lst = sorted(set(lst))

print(sort_lst)

[1, 2, 5, 9]

In [83]:
#largest number
sort_lst[-1]

9

In [84]:
#second largest number
sort_lst[-2]

5

### Counting element in a list

In [229]:
my_list = [5, 2, 8, 9, 5]
to_search = 5

count = 0
for element in my_list:
    if element == to_search:
        count += 1
            
print(count)

2

### Finding sub_string in a string

### find() function

In [227]:
# Define the main string
main_string = "Hello, world! Welcome to the world of Python programming."

# Define the substring to search for
substring = "world"

# Find the first occurrence of the substring
first_occurrence = main_string.find(substring)
print(f"First occurrence of '{substring}': {first_occurrence}")

# Find the next occurrence of the substring after the first one
second_occurrence = main_string.find(substring, first_occurrence + 1)
print(f"Second occurrence of '{substring}': {second_occurrence}")

First occurrence of 'world': 7
Second occurrence of 'world': 29

In [226]:
string = 'ABCDCDC'
sub_string = 'CDC'

start = 0
counter = 0

while start <= len(string) - len(sub_string): #The while loop condition is updated to start <= len(string) - len(sub_string) to ensure the sliding window does not go out of bounds.
    end = start + len(sub_string)
    if sub_string == string[start:end]:
        counter += 1
    start += 1  # Sliding window: 0 to 3, 1 to 4, and so forth

print(counter)

2

In [230]:
string = 'ABCDCDC'
sub_string = 'CDC'

substr_len = len(sub_string)
str_len = len(string)

for i in range(str_len - substr_len+ 1):
    window = string[i : i + substr_len]
    print(window)

ABC
BCD
CDC
DCD
CDC

In [233]:
string = 'ABCDCDC'
sub_string = 'CDC'
count = 0

substr_len = len(sub_string)
str_len = len(string)

for i in range(str_len - substr_len+ 1):
    window = string[i : i + substr_len]
    if window == sub_string:

        count = count+1
print(count)

2

## Leetcode: Two Sum

Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

You can return the answer in any order.

 

Example 1:

Input: nums = [2,7,11,15], target = 9
Output: [0,1]
Explanation: Because nums[0] + nums[1] == 9, we return [0, 1].

### NOTE we will check addition of two distinct list elements, not two consecutive

In [ ]:
list1 = [int(x) for x in input().split(',')]
Target = int(input())

def TwoSum(list1, Target):
    ListPos = []
    
    for i in range(len(list1)):
        for j in range(i+1, len(list1)):
            if list1[i] + list1[j] == Target:
                ListPos.append(i)
                ListPos.append(j)
                return ListPos

result = TwoSum(list1, Target)
print(result)

2, 7, 11, 15
9
[0, 1]

### Take user input a python list of string character element and print the list. Use List Comprehension

In [ ]:
char_list = [c for c in input().split()]
print(char_list)

goku vegeta trunks
['goku', 'vegeta', 'trunks']

In [ ]:
n = int(input())
lst = [int(x) for x in input().split()][:n]
print(lst)

[4, 5, 6, 7, 8]

### Check the second character is a substring of first character. If yes then output the second character.

In [ ]:
char_list = [c for c in input().split()]
if char_list[1] in char_list[0]:
    print(char_list[1])
else:
    print("The second character is not a substring of the first character.")

goku ku
ku

## 2. Leetcode: String Matching in an Array

Given an array of string words, return all strings in words that is a substring of another word. You can return the answer in any order.

A substring is a contiguous sequence of characters within a string

 

Example 1:

Input: words = ["mass","as","hero","superhero"]

Output: ["as","hero"]

Explanation: "as" is substring of "mass" and "hero" is substring of "superhero".
["hero","as"] is also a valid answer.

### We have to iterate through each word in the array and check if it is a substring of any other word in the array.

In [ ]:
char_list = [c for c in input().split()]
result = []

def chksubstr(char_list):
    
    for i in range (len(char_list)):
        for j in range (len(char_list)):
            if i != j and char_list[i] in char_list[j]:
                result.append(char_list[i])
                
    return result

result = chksubstr(char_list)
print(set(result))

leetcode et code
{'et', 'code'}

## List[] vs Tuple()

In [ ]:
#Lists are mutable

list1 = [2, 3, 4, 5]

print(list1)

list1[1] = 9

print(list1)

[2, 3, 4, 5]
[2, 9, 4, 5]

In [ ]:
#Lists are appendable/ mutable

list1 = ['alfa', 'beta', 'charlie', 'delta']

print(list1)

list1.append('echo')

print(list1)

['alfa', 'beta', 'charlie', 'delta']
['alfa', 'beta', 'charlie', 'delta', 'echo']

In [ ]:
# Tuples are immutable

tuple1 = ('summer', 'spring', 'winter', 'fall')

print(tuple1)

tuple1[1] = 'monsoon'

print(tuple1)

('summer', 'spring', 'winter', 'fall')

TypeError: 'tuple' object does not support item assignment

In [ ]:
# we can join tuple but cannot modify
 
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

Convert a simple list to tuple

In [129]:
mylist = [6, 8, 1, 9]

tuple(mylist)

(6, 8, 1, 9)

## Exception Handling

In [ ]:
# Check age is 18 + or not


try:
    age = int(input("Enter your age: "))
    if age < 0:
        print('Number is negative')
    elif age >= 18:
        print('Age is 18 or older')
    else:
        print('Age is less than 18')
except ValueError:
    print('Not a valid Number')

Not a valid Number

### Hackerrank Exceptions

You are given two values a and b.
Perform integer division and print a/b.

Input format

The first line contains T, the number of test cases.
The next T lines each contain the space separated values of a and b.


Constraints\
• 0 < T < 10

Output Format
Print the value of a /b.

In the case of ZeroDivisionError or ValueError, print the error code.

Sample Input

3\
1 0\
2 $\
3 1


Sample output

Error Code: integer division or modulo by zero\
Error Code: invalid literal for int() with base 10: '$'\
3

In [128]:
n = int(input())

for i in range(n):
    
    try:
        
        a, b = input().split()
        
        result = int(a) // int(b)
        
        print(result)
        
    except ZeroDivisionError as e:
        print("Error Code:", e )
        
    except ValueError as v:
        print("Error Code:", v)

Error Code: integer division or modulo by zero
Error Code: invalid literal for int() with base 10: '$'
3

### Factorial - Recursion

In [23]:
def fac(x):
    
    if x == 0:
        return 1
    
    return x * fac(x-1)

print(fac(3))

6

### Fibonacci Number - Recursion

F(0) = 0, F(1) = 1, F(2) = F(0) + F(1)

In [ ]:
def fib(n):
    if n == 1:
        value = 1
    elif n == 2:
        value = 1
    elif n > 2:
        value = fib(n-2) + fib(n-1)

    return value

for n in range (1,11):
    print(fib(n))

1
1
2
3
5
8
13
21
34
55

### Dictionary

In [14]:
# define dictionary

student = {'name': 'John',
           'age': 25,
           'courses': ['Math', 'CS']
           }

print(student)

{'name': 'John', 'age': 25, 'courses': ['Math', 'CS']}

In [16]:
#printing with key

print(student['name'])

John

In [17]:
# get()

print(student.get('name'))

John

In [18]:
#phone key is not present
print(student.get('phone'))

None

In [19]:
#adding a default value if key is not present
print(student.get('phone', 'Not Found'))

Not Found

In [20]:
# Update and add a new key-value to a dictionary
#update()

student.update({'name': 'John Wick', 'phone': '555-555-5555'})
print(student)

{'name': 'John Wick', 'age': 25, 'courses': ['Math', 'CS'], 'phone': '555-555-5555'}

In [38]:
#keys
print(student.keys())

dict_keys(['name', 'age', 'courses', 'phone'])

In [39]:
#values
print(student.values())

dict_values(['John Wick', 25, ['Math', 'CS'], '555-555-5555'])

In [40]:
#keys and values
print(student.items())

dict_items([('name', 'John Wick'), ('age', 25), ('courses', ['Math', 'CS']), ('phone', '555-555-5555')])

In [41]:
for key in student:
    print(key)

name
age
courses
phone

In [43]:
for key, value in student.items():
    print(key, value)

name John Wick
age 25
courses ['Math', 'CS']
phone 555-555-5555

### Create 3 list of student, score and admit then make a dictionary out of it using **dict(zip())**

In [154]:
# List of students
students = ["Alice", "Bob", "Charlie", "David", "Eve", "Frank"]

# List of scores
scores = [85, 90, 50, 78, None, 62]

# Acceptance list
admit = ["Yes", "Yes", "No", "Yes", "No", "Yes"]

# Combine the lists into a list of dictionaries
student_data = [
    {"Student": student, "Score": score, "Admit": admission}
    for student, score, admission in zip(students, scores, admit)
]

# Print the list of dictionaries
print(student_data)

[{'Student': 'Alice', 'Score': 85, 'Admit': 'Yes'}, {'Student': 'Bob', 'Score': 90, 'Admit': 'Yes'}, {'Student': 'Charlie', 'Score': 50, 'Admit': 'No'}, {'Student': 'David', 'Score': 78, 'Admit': 'Yes'}, {'Student': 'Eve', 'Score': None, 'Admit': 'No'}, {'Student': 'Frank', 'Score': 62, 'Admit': 'Yes'}]

### Hackerrank Finding the percentage - Dictionary

In [122]:
#student1 variable has a list of score. To find average of the score:

student1 = [60, 70, 80]

# Calculate the average
average_score = sum(student1) / len(student1)

# Print the result
print("Average score:", average_score)

Average score: 70.0

In [115]:
my_dict = {
    'alpha': [67, 68, 69],
    'beta': [70, 71, 72],
    'gama': [73, 74, 75]
}

my_dict

{'alpha': [67, 68, 69], 'beta': [70, 71, 72], 'gama': [73, 74, 75]}

In [116]:
for key in my_dict.keys():
    print(key)

alpha
beta
gama

In [118]:
for key, val in my_dict.items():
    print(val)

[67, 68, 69]
[70, 71, 72]
[73, 74, 75]

In [117]:
for key, val in my_dict.items():
    print(key, val)

alpha [67, 68, 69]
beta [70, 71, 72]
gama [73, 74, 75]

Above my_dict contains student name and their respective list of scores in 3 subjects. My job is to take input of a student name and output should be the average score of the student.

In [121]:
#for student alpha
my_dict = {
    'alpha': [67, 68, 69],
    'beta': [70, 71, 72],
    'gama': [73, 74, 75]
}

input_name = 'alpha'

for key, val in my_dict.items():
    if key == input_name:
        avg = sum(val) / len(val)
print(avg)

68.0

### Hackerrank Basic Data Type - Lists

Consider a list (list = []). You can perform the following commands:

1. insert i e: Insert integer  at position .
2. print: Print the list.
3. remove e: Delete the first occurrence of integer .
4. append e: Insert integer  at the end of the list.
5. sort: Sort the list.
6. pop: Pop the last element from the list.
7. reverse: Reverse the list.
Initialize your list and read in the value of  followed by  lines of commands where each command will be of the  types listed above. Iterate through each command in order and perform the corresponding operation on your list.

Example usage:

N = 4

append 1

append 2

insert 3 1

print

In [53]:
if __name__ == '__main__':
    N = int(input()) #number of input
    lst = [] #initialize a list
    
    for _ in range(N):
        command = input().split()
        
        #defining operations
        if command[0] == 'insert':
            lst.insert(int(command[1]), int(command[2]))
        if command[0] == 'print':
            print(lst)
        if command[0] == 'remove':
            lst.remove(int(command[1]))
        if command[0] == 'append':
            lst.append(int(command[1]))
        if command[0] == 'sort':
            lst.sort()
        if command[0] == 'pop':
            lst.pop()
        if command[0] == 'reverse':
            lst.reverse()

[1, 2, 99]

### Boolean

In [54]:
a = 3
b = 5
a == b

False

In [55]:
type(True)

bool

In [58]:
#Empty string and 0 is converted to False
bool(0)

False

In [59]:
bool("")

False

### Itertools library - Permutations

In [91]:
from itertools import permutations

p = permutations([4, 5, 6])

for n in list(p):
    print (n)

(4, 5, 6)
(4, 6, 5)
(5, 4, 6)
(5, 6, 4)
(6, 4, 5)
(6, 5, 4)

### Hackerrank List Comprehension

In [106]:
for i in range(1,3):
    for j in range(1,3):
        print(i,j)

1 1
1 2
2 1
2 2

In [111]:
#achieve the same output using list comprehension
my_list = [[i, j] for i in range (1,3) for j in range (1,3)]
print(my_list)

[[1, 1], [1, 2], [2, 1], [2, 2]]

In [109]:
x = 1
y = 2


for i in range(x+1):
    print('this is x:', i)
    for j in range(y+1):
        print('this is y:', j)

this is x: 0
this is y: 0
this is y: 1
this is y: 2
this is x: 1
this is y: 0
this is y: 1
this is y: 2

In [107]:
x = 1
y = 1
z = 2

for i in range(x+1):
    print('this is x:', i)
    for j in range(y+1):
        print('this is y:', j) 
        for k in range(z+1):
            print('this is z:', k)

this is x: 0
this is y: 0
this is z: 0
this is z: 1
this is z: 2
this is y: 1
this is z: 0
this is z: 1
this is z: 2
this is x: 1
this is y: 0
this is z: 0
this is z: 1
this is z: 2
this is y: 1
this is z: 0
this is z: 1
this is z: 2

Let's learn about list comprehensions! You are given three integers x, y and z representing the dimensions of a cuboid along with an integer n. Print a list of all possible coordinates given by i, j, k) on a 3D grid where the sum of i + j+ k is not equal to n. Here. 0 ≤ i < x; 0 < j≤ y; 0 < k ≤ z. Please use list comprehensions rather than multiple
loops, as a learning exercise.
Example
x = 1
y = 1
z = 2
n = 3

All permutations of [i, j, k] are:
[[0, 0, 0], [O, 0, 1], [O, 0, 2], [0, 1, 0], [0, 1, 1], [0, 1, 2], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 1, 0], [1, 1, 1], [1, 1, 2]]
Print an array of the elements that do not sum to n = 3.
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 2]]
Input Format
Four integers x, y, z and n, each on a separate line.
Constraints
Print the list in lexicographic increasing order.

In [113]:


def permu(x, y, z, n):
    my_list = [[i, j, k] for i in range (x+1) for j in range (y+1) for k in range (z+1) if i + j + k != n]
  
    print(my_list)


if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())

    permu(x, y, z, n)

[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 2]]

In [126]:
#sort an array

arr = [5, 7, 4, 4, 1]

print(sorted(set(arr)))

[1, 4, 5, 7]

### Find the Runner-Up Score! - Hackerrank

Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given n scores. Store them in a list and find the score of the
runner-up.
Input Format
The first line contains n. The second line contains an array A[] of n integers each separated by a space.
Constraints

・ 2 ≤ n ≤ 10

・ -100 ≤ A2 ≤ 100


Input

5

2 3 6 6 5

Output

5

In [127]:

def runner(arr):
    sort_arr = sorted(list(set(arr)), reverse=True)

    return(sort_arr[1])

if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    print(runner(arr))

5

### hash()

The hash value is an integer that is used to quickly compare dictionary keys while looking at a dictionary.\

Objects hashed using hash() are irreversible, leading to loss of information.\

hash() returns hashed value only for immutable objects, hence can be used as an indicator to check for mutable/immutable objects.\

We can encode data for security in Python by using hash() function.

In [146]:
hash(1)

1

In [147]:
hash(2)

2

In [148]:
hash(2.5)

1152921504606846978

In [149]:
hash('sarthak')

1776053847627778186

For hashing, a data type has to be immutable. Say a list has to be converted to a tuple which is immutable, then only it is hashable.

## HackerRank Numpy Arrays

Task

You are given a space separated list of numbers.
Your task is to print a reversed NumPy array with the element type float.


Input Format


A single line of input containing space separated numbers.


Output Format


Print the reverse NumPy array with type float.

In [2]:
import numpy

def arrays(arr):
    # complete this function
    # use numpy.array
    
    np_float_arr = numpy.array(arr, dtype='f')

    return (np_float_arr)[::-1]

arr = input().strip().split(' ')
result = arrays(arr)
print(result)

1 2 3 4 -10 -8
[ -8. -10.   4.   3.   2.   1.]

## HackerRank - Write a function

An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:

The year can be evenly divided by 4, is a leap year, unless:

The year can be evenly divided by 100, it is NOT a leap year, unless:

The year is also evenly divisible by 400. Then it is a leap year.

This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years.

In [4]:
def is_leap(year):
    leap = False
    
    # Write your logic here

    if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0): 
            
        leap = True
    else:
        leap = False
            
    return leap

year = int(input())
print(is_leap(year))

2000
True