<div class="alert alert-block alert-success">

# Python
    
- HR Function
- HR Numpy array

## HackerRank - Write a function

An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:


The year can be evenly divided by 4, is a leap year, unless:

The year can be evenly divided by 100, it is NOT a leap year, unless:

The year is also evenly divisible by 400. Then it is a leap year.

This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years.

In [1]:
def is_leap(year):
    leap = False
    
    # Write your logic here

    if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0): 
            
        leap = True
    else:
        leap = False
            
    return leap

year = int(input())
print(is_leap(year))

2000
True

## HackerRank Numpy Arrays

Task

You are given a space separated list of numbers.
Your task is to print a reversed NumPy array with the element type float.


Input Format


A single line of input containing space separated numbers.


Output Format


Print the reverse NumPy array with type float.

In [5]:
import numpy

def arrays(arr):
    # complete this function
    # use numpy.array
    
    np_float_arr = numpy.array(arr, dtype='f')

    return (np_float_arr)[::-1]

arr = input().strip().split(' ')
result = arrays(arr)
print(result)

1 2 3 4 -8 -10
[-10.  -8.   4.   3.   2.   1.]